* {
    box-sizing: border-box;
}

#root {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    text-align: left;
}

@font-face {
    font-family: Circular;
    src: url(./fonts/Circular/CircularStd-Book.otf);
    font-weight: 300;
}

@font-face {
    font-family: Circular;
    src: url(./fonts/Circular/CircularStd-Medium.otf);
    font-weight: 600;
}

@font-face {
    font-family: Circular;
    src: url(./fonts/Circular/CircularStd-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: CircularItalic;
    src: url(./fonts/Circular/CircularStd-BookItalic.otf);
    font-weight: 300;
}

body {
    font-family: Circular, sans-serif;
    background-color: white;
    font-size: 14pt;
    color: #212529;
}

h3 {
    font-size: 2em;
}

p {
    font-weight: 300;
}

.section-title {
    font-size: 22pt;
    font-weight: 900;
    margin: 10px 0;
}

.container {
    max-width: 1140px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    height: auto;
}

#navigation {
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #212529;
    z-index: 100;
}

#featured-work {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0 0 100px 0;
}

.card-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card-container {
    padding: 0 10px;
    width: 100%;
    margin-top: 20px;
}

.project {
    background-color: #eee;
    width: 100%;
    height: 425px;
    position: relative;
}

.image {
    position: relative;
    max-width: 70%;
    max-height: 75%;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    height: 75%;
}

.image img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
    opacity: 1;
    transition-delay: 500ms;
}

.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition: 0.5s ease-out;
    background-color: #42776a;
    z-index: 50;
}

.image-overlay:hover {
    opacity: 70%;
}

.image-overlay-text {
    padding: 40px 0 0 40px;
    color: white;
    max-width: 60%;
}

.project-title {
    font-size: 20pt;
    margin: 0;
    font-weight: 900;
    line-height: 1.1;
}

.project-subheading {
    margin: 0;
    font-weight: 300;
    font-size: 12pt;
    font-family: CircularItalic, Circular;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0.5rem 1rem;
}

.nav-link {
    padding: 0.5em 1em;
    font-weight: 900;
    color: #212529;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}

.nav-link:hover {
    color: white;
    background-color: #212529;
}

.email-link {
    border-bottom: 1px solid #212529;
    text-decoration: none;
    padding-bottom: 3px;
    color: #212529;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
}

.email-link:hover {
    color: white;
    background-color: #212529;
}

#landing-page {
    display: flex;
    align-items: center;
    margin: auto;
    height: 80vh;
    min-height: 500px;
    box-sizing: border-box;
    width: 100%;
}

#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 900;
    inset: 0px;
}

.modal-main {
    position: fixed;
    background: white;
    max-width: 960px;
    max-height: 90%;
    height: auto;
    inset: 40px;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 20px;
    background-color: #eee;
    color: #212529;
}

.modal-close:hover {
    text-decoration: none;
    border: none;
    color: #212529;
}

.modal-close svg {
    stroke-width: 100px;
}

.modal-top {
    background-color: #eee;
    width: 100%;
    height: 65%;
}

.modal-image {
    max-height: 85%;
    height: 85%;
    max-width: 60%;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    object-fit: contain;
}

.modal-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    object-position: center center;
}

.modal-bottom {
    padding: 25px 30px;
}

.modal-bottom ul {
    padding: 0 1em;
}

.modal-bottom li {
    font-size: 14px;
    padding-bottom: 1em;
}

.content-box {
    max-width: 600px;
}

.cover {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.landing-title {
    font-size: 26pt;
    font-weight: 900;
}

.centre {
    left: 50%;
    transform: translateX(-50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

@media (min-width: 960px) {
    .card-container {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .modal-bottom {
        padding: 25px 50px;
    }

    .modal-bottom li {
        padding: 0;
    }
}
